<div class="section_header">
	<h3>Ovec in vogelvlucht</h3>
</div>

<div class="text">
<p> Ovec Multi-service is al 25 jaar een gerenommeerd staalconstructie bedrijf.
Wij zijn gecertificeerd met het Veiligheids Certificaat Aannemers (VCA*), gaan klantgericht te werk en handhaven een zeer veilige werkwijze.
Wij maken gebruik van een 3D- tekenpakket.
Voor zowel grote ingewikkelde constructies als ook voor kleine spoedklussen op het gebied van las- c.q. brandwerk en reparaties, kunt u bij ons terecht.
Fabricage van constructies vindt plaats in onze eigen werkplaats.
Wij staan garant voor een perfecte afhandeling van elke gewenste opdracht.</p>
</div>