<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size %>
  <%= f.full_error :image_content_type %>

  <%= f.input :image, label: 'Voeg afbeelding toe' %>
  <%= f.input :title, label: 'Titel' %>
  <%= f.input :place, label: 'Plaats' %>
  <%= f.input :description, label: 'Omschrijving' %>
  <%= f.input :showcase, label: 'Laat zien in uitgelichte projecten' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
