<br><br><br>

<% if !@project.pictures.empty? %>

<div id="blog">
  <div class="container">
    <div class="section_header">
      <h3>Foto's voor <%= @project.title %></h3>
    </div>
    <% @picture_groups.each do |pictures| %>
      <div class="row post_row">
        <% pictures.each_with_index do |picture, i| %>
          <div class="span4 post <%= check_for_last_class(i) %>">
            <div class="img">
              <%= link_to (image_tag picture.image(:medium)), [@project, picture] %>
            </div>
            <div class="text">
              <span class="date">Datum toegevoegd: <%= picture.created_at.to_s(:short) %></span>
              <p><strong> Omschrijving: </strong> <%= picture.title %></p>
            </div>  
            <% if admin_signed_in? %>
              <div class="author_box">   
                <p> 
                  <%= link_to 'Show', [@project, picture] %>
                  <%= link_to 'Edit', edit_project_picture_path(@project, picture) %>
                  <%= link_to 'Destroy', [@project, picture], :confirm => 'Are you sure?',
                  :method => :delete %>
                </p>
              </div>
            <% end %>
          </div>  
        <% end %>    
      </div>
    <% end %>
  </div>
</div>

<% else %>
  <br><br><br>
  <div class="section_header">
      <h3>Foto's voor <%= @project.title %></h3>
    </div>
  <div class="container">
    <p>Dit project heeft nog geen foto's.</p>
  </div>
<% end %>

<br>
<% if admin_signed_in? %>
  <p>
    <%= link_to 'New picture', new_project_picture_path(@project) %> |
    <%= link_to 'Back', @project %>
  </p>
<% end %>