<div class="container" id="contact">
  <div class="row contact">
    <div class="section_header">
      <h3>Contact</h3>
    </div>

    <h6> Vul onderstaand formulier in om met ons in contact te komen. </h6>

    <div class="row form">
        <%= simple_form_for @message, :url => contact_path, method: :post do |f| %>
          <%= f.error_notification %>
            <div class="span6 contact-box">
              <%= f.input :name, label: '', placeholder: 'Naam', input_html: {class: "name"} %>
              <%= f.input :company, label: '', placeholder: 'Bedrijf waar u voor werkt', input_html: {class: "name"} %>
              <%= f.input :email, label: '', placeholder: 'Email', input_html: {class: "mail", type: "text"} %>
              <%= f.input :phone, label: '', placeholder: 'Telefoonnummer', input_html: {class: "phone", type: "text"} %>
              <%= f.input :subject, label: '', placeholder: 'Onderwerp', input_html: {class: "mail", type: "text"} %>
              <%= f.input :attachment, label: 'Bijlage(s), Meerdere bestanden in ZIP', as: :file %>
            </div>
            <div class="span6 contact-box box_r">
              <%= f.input :body, label: '', placeholder: 'Bericht', as: :text %>
            </div>

            <div class="row submit">
              <div class="span3 right">
                <%= f.submit %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>    
</div>

<div id="contact">
  <div class="row map">
    <div class="container">
        <div class="span5 box_wrapp">
            <div class="box_cont">
                <div class="head">
                    <h6>Contact</h6>
                </div>
                <ul class="street">
                    <li>Ovec Multiservice B.V.</li>
                    <li>Adres: Basisweg 27</li>
                    <li>Postcode: 1043 AN Amsterdam</li>
                    <li class="icon icontop">
                        <span class="contacticos ico1"></span>
                        <span class="text"> 020-6118506 </span>
                    </li>
                    <li class="icon">
                        <span class="contacticos ico2"></span>
                        <a class="text" href="mailto:info@ovec-multiservice.nl">info@ovec-multiservice.nl</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="60" marginwidth="0" src="http://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Basisweg+27&amp;aq=&amp;sll=52.374716,4.898623&amp;sspn=0.132884,0.352249&amp;ie=UTF8&amp;hq=&amp;hnear=Basisweg+27,+1043+AN+Westpoort,+Amsterdam,+Noord-Holland&amp;t=m&amp;ll=52.396815,4.833384&amp;spn=0.018331,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=Basisweg+27&amp;aq=&amp;sll=52.374716,4.898623&amp;sspn=0.132884,0.352249&amp;ie=UTF8&amp;hq=&amp;hnear=Basisweg+27,+1043+AN+Westpoort,+Amsterdam,+Noord-Holland&amp;t=m&amp;ll=52.396815,4.833384&amp;spn=0.018331,0.036478&amp;z=14&amp;iwloc=A" style="color:#666;text-align:left">
  </div>
</div>