#backgrounds
  margin-top: 70px
  .row
    margin-bottom: 30px
  .photo
    position: relative
    .circle
      position: absolute
      text-align: center
      border-radius: 100%
      background: rgba(0, 0, 0, 0.5)
      height: 82px
      width: 82px
      left: 41%
      top: 25%
      span
        font-size: 18px
        font-style: italic
        color: #fff
        margin-top: 29px
        display: inline-block
        &.doble
          margin-top: 19px

/* Responsive
 *--------------------------------------------------

/* Large desktop
@media (min-width: 1200px)

@media (min-width: 980px)

/* Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px)
  #backgrounds .photo .circle
    top: 12%

/* Landscape phone to portrait tablet
@media (max-width: 767px)
  #backgrounds
    .row
      margin-bottom: 0
    .photo
      text-align: center
      margin-bottom: 30px
      .circle
        top: 23%

/* Landscape phones and down
@media (max-width: 480px)
  #backgrounds
    .row
      margin-bottom: 0
    .photo
      text-align: center
      margin-bottom: 30px
      .circle
        top: 23%