#contact
  margin-top: 40px
  .contact
    margin: 40px 0 0 0
    p
      color: #939394
      font-size: 19px
      margin-bottom: 47px
      font-style: italic
      line-height: 24px
  .form, .contact form
    margin: 0
  .form
    .contact-box
      margin: 0
      input
        &[type="text"]
          padding-left: 39px
          margin-bottom: 10px
          color: black
          height: 29px
          border-radius: 3px
          width: 89%
        &.name
          background: url(image_path('formname.png')) white no-repeat 5px
        &.mail
          background: url(image_path('formmail.png')) white no-repeat 5px
        &.phone
          background: url(image_path('formphone.png')) white no-repeat 5px
    .box_r
      float: right
    .contact-box textarea
      padding: 11px
      width: 94%
      margin: 0
      border-radius: 3px
      height: 232px
  .contact .submit
    margin: 0
    .box
      margin: 0
    label.checkbox
      color: #394350
      font-style: 14px
    .right
      float: right
      input[type="submit"]
        float: right
        text-transform: uppercase
        color: #fff
        background: #848A8F
        font-size: 15px
        margin-top: 20px
        padding: 4px 12px
        border: 0 none
        border-radius: 3px
        -webkit-transition: background linear .2s, box-shadow linear .2s
        -moz-transition: background linear .2s, box-shadow linear .2s
        -o-transition: background linear .2s, box-shadow linear .2s
        transition: background linear .2s, box-shadow linear .2s
        &:hover
          background: #252528
  .map
    margin: 0
    iframe
      display: block
    .box_wrapp
      position: absolute
      margin: 0
      box-shadow: 0 0 7px 0 rgba(26, 26, 26, 0.4)
      padding: 33px 0 33px 
      background: white
      top: 50%
      left: 6%
      border-radius: 4px
      .box_cont
        margin: 0 auto
        width: 76%
      .head
        width: 100%
        margin-bottom: 17px
        overflow: hidden
        h6
          font-size: 24px
          margin: 0
          font-style: italic
          float: left
          padding-bottom: 2px
          border-bottom: 1px solid
          font-weight: normal
      ul.street
        list-style: none
        margin: 0
        padding: 0
        li
          color: #777777
          font-size: 14px
          &.icon
            margin-top: 3px
            span
              &.ico1
                float: left
                height: 20px
              &.ico2
                float: left
                height: 20px
                background-position: 0px -23px
            .text
              font-size: 15px
              color: #777777
              margin-left: 6px
            a:hover
              color: #187CCC
              -webkit-transition: all .2s
              -moz-transition: all .2s
              -ms-transition: all .2s
              transition: all .2s
          &.icontop
            margin-top: 13px
      .headbottom
        margin-top: 42px
      p
        color: #777777
        font-size: 14px
        margin-bottom: 32px
      a.btn
        text-transform: uppercase
        color: #fff
        font-size: 15px
        background: #187CCC
        text-shadow: none
        padding: 6px 0 6px
        font-weight: bold
        border: 0 none
        box-shadow: none
        border-radius: 3px
        margin: 0 auto
        display: block
        width: 56%
        -webkit-transition: background linear .2s, box-shadow linear .2s
        -moz-transition: background linear .2s, box-shadow linear .2s
        -o-transition: background linear .2s, box-shadow linear .2s
        transition: background linear .2s, box-shadow linear .2s
        &:hover
          background: #252528

.contacticos
  background: url(image_path('contact_icos.png')) no-repeat
  width: 24px
  height: 44px

/* Responsive
 *--------------------------------------------------

/* Large desktop
@media (min-width: 1200px)

@media (min-width: 980px)

@media (max-width: 979px)

/* Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px)

/* Landscape phone to portrait tablet
@media (max-width: 767px)
  #contact
    .contact .submit .box
      margin: 10px 0 24px
    .form .box input[type="text"]
      width: 87%
    .contact .submit .right input[type="submit"]
      margin: 0 auto
      float: none
      width: 53%
      display: block
      padding: 7px
    .map
      .box_wrapp
        width: 90%
        position: relative
        margin: 0 auto 80px
        .box_cont!
      iframe
        display: none
      .box_wrapp a.btn
        width: 65%

/* Landscape phones and down
@media (max-width: 480px)
  #contact
    .contact .submit .right input[type="submit"]
      width: 60%
    .map .box_wrapp
      width: 100%