<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row sections">
  
      <div class="row credits">
        <div class="span12">
          <div class="row copyright">
            <div class="span12">
              Ovec Multiservice B.V. | <a class="text" href="mailto:info@ovec-multiservice.nl">info@ovec-multiservice.nl</a> | 020-6118506
            </div>
            <div class="span12">
                © 2013 All rights reserved.
            </div>
            <div class="span12">
                <% if admin_signed_in? %>
                    <%= link_to "Admin Logout", destroy_admin_session_path, method: :delete %>
                <% else %>
                    <%= link_to 'Admin sign in', new_admin_session_path %>
                <% end %>
            </div>
          </div>
        </div>            
      </div>
    </div>
  </div>
</footer>