    <section id="feature_slider" class="">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" class="frontpage-image1">
            <div class="info">
                <h2>Welkom op de website van Ovec-Multiservice b.v.</h2>
            </div>
        </article>
        <article class="slide" id="ideas" class="frontpage-image2">
            <div class="info">
                <h2>Voor al uw staal- en las-werken.</h2>
            </div>
            <!--
            <%= image_tag "slides/scene2/left.png", class: "asset left-480 sp600 t260 z1" %>
            <%= image_tag "slides/scene2/middle.png", class: "asset left-210 sp600 t213 z2" %>
            <%= image_tag "slides/scene2/right.png", class: "asset left60 sp600 t260 z1"  %>
            -->
        </article>
        <article class="slide" id="tour" class="frontpage-image3">
            <!--
            <%= image_tag "slides/scene3/ipad.png", class:  "asset left-472 sp650 t210 z3" %>
            <%= image_tag "slides/scene3/iphone.png", class: "asset left-365 sp600 t270 z4" %>
            <%= image_tag "slides/scene3/desktop.png", class: "asset left-350 sp450 t135 z2" %>
            <%= image_tag "slides/scene3/macbook.png", class: "asset left-185 sp550 t220 z1" %>
            -->
            <div class="info">
                <h2>Op het land of in het water.</h2>
                <!-- <a href="features.html">TOUR THE PRODUCT</a> -->
            </div>
        </article>
        <article class="slide" id="responsive" class="frontpage-image4">
            <!--
            <%= image_tag "slides/scene4/logo_ovec.TIFF", class: "asset left-472 sp600 t120 z3" %>
                <div class="info">
                <h2>
                    Responsive <strong>HTML5 & CSS3</strong>
                    Theme
                </h2>                
                </div>
                -->
        </article>        
    </section>