<div class="navbar <%= add_transparant_to_navbar %> navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <strong>OVEC-Multiservice b.v.</strong>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><%= link_to 'Home', root_path %></li>
                    <li><%= link_to 'Activiteiten', activities_path %></li>
                    <li><%= link_to 'Projecten', projects_path %></li>
                    <li><%= link_to 'Contact', contact_path %></li>
                    
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            PAGES
                            <b class="caret"></b>
                        </a>
                          <ul class="dropdown-menu">
                              <li><a href="features.html">Features</a></li>
                              <li><a href="services.html">Services</a></li>
                              <li><a href="portfolio.html">Portfolio</a></li>
                              <li><a href="portfolio-item.html">Portfolio Item</a></li>
                              <li><a href="coming-soon.html">Coming Soon</a></li>
                              <li><a href="sign-in.html">Sign in</a></li>
                              <li><a href="sign-up.html">Sign up</a></li>
                              <li><a href="backgrounds.html">Backgrounds</a></li>
                          </ul>
                        -->
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>