<div id="showcase">
    <div class="container">
        <div class="section_header">
            <h3>Onze projecten</h3>
            <p> Hieronder een indruk van door ons gerealiseerde projecten </p>
        </div>            
        <div class="row feature_wrapper">
            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <div class="span4 feature first">
                    <div class="img_box">
                        <a href="services.html">
                            <%= image_tag "ovec_project1.png" %>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>Project 1</h6>
                        <p>
                            Omschrijving
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature">
                    <div class="img_box">
                        <a href="services.html">
                            <%= image_tag "ovec_project2.png" %>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>Project 2</h6>
                        <p>
                            Omschrijving
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature last">
                    <div class="img_box">
                        <a href="services.html">
                            <%= image_tag "ovec_project4.png" %>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>Project 3</h6>
                        <p>
                            Omschrijving
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>