<div id="showcase">
    <div class="container">
        <div class="section_header">
            <h3>Onze projecten</h3>
            <p> Hieronder een indruk van door ons gerealiseerde projecten </p>
        </div>            
        <div class="row feature_wrapper">
            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <% projects = Project.where(:showcase => true) %>
                  <% projects.each_with_index do |project, i| %> 
                    <div class="span4 feature first %>">
                        <div class="img_box">
                            <%= link_to (image_tag project.image(:medium)), project_pictures_path(project) %>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </div>
                        <div class="text">
                            <h6><%= project.title %></h6>
                            <p>
                                <%= project.description %>
                            </p>
                        </div>
                    </div>
                  <% end %>
            </div>
        </div>
    </div>
</div>