<!DOCTYPE html>
<html>
<head>
  <title>Ovec</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="pull_top">
    <%= render 'layouts/navbar' %>
    
    <% if current_page?(root_path) %>
      <%= render 'layouts/homepagebanner' %>
    <% end %>

    <% if current_page?(contact_path) %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>

    <%= render 'layouts/footer' %>

</body>
</html>
